#seperate {
	 position:absolute; 
	 top:10px; 
	 height:290px; 
	 width:100%;
	 text-align: left;
	 background-image: url("img/latest.jpg");
}
/*.button {
	background-color: blue;
}
*/
#seperate .h1 {
	
	text-align: center;
	color: blue;
	text-transform: uppercase;
	font-family: monospace;
	padding-top: 200px;
}
